.card-img-top {
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.card-header{
    justify-content: center;
  display:flex;
  margin: 0 auto;
  width: 80%;
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
}
.card-body{
    width: 300px;
}