p.total{
    padding:0 15px;
    margin-bottom: 0rem !important;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.like{

    display: flex;
    flex-wrap: nowrap;
    width: 120px;
    justify-content: space-between;
    align-items: center;
}